<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Example Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" [routerLink]="['']">Home </a>
          </li>
        </ul>

      <ul class="navbar-nav navbar-right"> 
          <li><a class="nav-link" [routerLink]="['dashboard']">Dashboard</a></li>
          <li><a class="nav-link" [routerLink]="['dashboard']">Profile</a></li>
          <li><a class="nav-link" [routerLink]="['dashboard']">Blog</a></li>
          <li><a class="nav-link" [routerLink]="['dashboard']">Login</a></li>
          <li><a class="nav-link" [routerLink]="['dashboard']">Logout</a></li>
          <li><a class="nav-link" [routerLink]="['dashboard']">Register</a></li>

        </ul>
      
  </div>
</nav>